---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

<div class="archive-intro">
  <p class="archive-intro__eyebrow">Speaking</p>
  <p class="archive-intro__lead">Invited talks, presentations, and conference appearances around indoor comfort, occupant-centered building intelligence, and adjacent applied work.</p>
</div>

{% if site.talkmap_link == true %}

<p><a href="/talkmap.html">See a map of all the places I have given a talk.</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
